@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input-no-border input,
.input-no-border textarea {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.profit-chart {
  fill: white !important;
  stroke: green !important;
  color: hsl(146 79% 44% / 1) !important;
}

.blur-background {
  filter: blur(5px);
}

.spark {
  stroke: greenyellow;
  color: black;
}
